/*Xiaojan Chen 905118702*/
body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
}


#chat_open_btn{
    width:250px;
    height:45px;
    font-size:25px;
    font-family: 'Open Sans', sans-serif;
    margin:auto;
}

#main_container{
    width:360px;
    height:450px;
    border:2px solid;
    border-color: gray;
    border-radius:5px;
    -moz-border-radius:5px;
    box-shadow: 3px 3px 3px gray
}

#chat_head{
    height:30px;
    background-color: gray;
    border-bottom:2px solid;
    border-color:gray;    
}
#chat_head_text{
    
    height:30px;
    color: white;
    
}

#clear_btn{
    font-size:12px;
    margin-bottom:5px;
    margin-left:95px;
    width: 100px;
    height: 25px;
    border-color:gray;
    border-radius:5px;
}

#chatbody{
    margin:auto;
    width:350px;
    height:350px;
    overflow-y: scroll;
}

#chat_bottom{
    height:67px;
    background-color: gray;
    border-top:2px solid;
    border-color:gray;
    
}

#chat_input{
    margin-top:3px;
    margin-bottom:3px;
    width:280px;
    height: 50px;
    font-size:20px;
    font-family: 'Open Sans', sans-serif;
    resize:none;
    border:2px solid;
    border-color:gray;
    border-radius:10px;
    -moz-border-radius:5px;
}

#chat_send_btn{
    margin-left:5px;
    width: 50px;
    height: 50px;
    border-color:gray;
    border-radius:10px;
}

.Counselor{
    margin:10px; 
 }
 .Counselor span{
     display:inline-block;
     background:#ef8201;
     border-radius:10px;
     color:#fff;
     padding:5px 10px;
 }
 .Student{
     margin:10px;
     text-align:right;
 }
 .Student span{
     display:inline-block;
     background:#0181cc;
     border-radius:10px;
     color:#fff;
     padding:5px 10px;
 }