/*Xiaojan Chen 905118702*/
html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;

    margin: 0;
}

td {
    height: fit-content;
}

#chat_open_btn{
    width:250px;
    height:45px;
    font-size:25px;
    font-family: 'Open Sans', sans-serif;
    margin:auto;
}

#main_container{
    width:360px;
    height: fit-content;
}

#chat_head{
    height:30px;
    background-color: gray;
    border-bottom:2px solid;
    border-color:gray;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#chat_head_text{
    
    height:30px;
    color: white;
    width:250px;
    
}

#clear_btn{
    font-size:12px;
    font-family: "Open Sans", sans-serif;

    margin: 0px 5px 0px 5px;
    padding: 2px 5px 2px 5px;

    background: white;

    width: 100px;
    height: 25px;
    border-color:gray;
    border-radius:5px;
}

#chatbody{
    margin:auto;
    width:350px;
    height:350px;
    overflow-y: scroll;
}

#chat_bottom{
    height: 70px;
    background-color: gray;
    border-top:2px solid;
    border-color:gray;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

#chat_input{
    margin: 0px;
    padding: 2px;

    width:280px;
    height: 50px;
    font-size:20px;
    font-family: 'Open Sans', sans-serif;
    resize:none;
    border:2px solid;
    border-color:gray;
    border-radius:10px;
    -moz-border-radius:5px;
}

#chat_send_btn{
    margin: 0px;
    padding: 0px;

    width: 50px;
    height: 50px;
    border-color:gray;
    border-radius:10px;
}

.Counselor{
    margin:10px; 
 }
 .Counselor span{
     display:inline-block;
     background:#ef8201;
     border-radius:10px;
     color:#fff;
     padding:5px 10px;
 }
 .Student{
     margin:10px;
     text-align:right;
 }
 .Student span{
     display:inline-block;
     background:#0181cc;
     border-radius:10px;
     color:#fff;
     padding:5px 10px;
 }

 .System{
    margin:10px;
    text-align:auto;
}
.System span{
    display:inline-block;
    background:rgb(185, 58, 58);
    border-radius:10px;
    color:#fff;
    padding:5px 10px;
}

#input {
    width: fit-content;
    height: 58px;
}