/*Xiaojan Chen 905118702*/
body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
}
h1{
    
    font-size: 60px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}

h2{
    font-size: 35px;
    letter-spacing: 2px;
}

ul{
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 180px;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

li span{
    display: block;
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

li span:nth-child(1){
    font-size: 20px;
    color:black;

}

li button{
    position: absolute;
    top: 90px;
    right: 90px;
    background: rgba(255,255,255,0.6);
    width: 70px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    font-size:20px;
    cursor:  pointer;
}