/*Xiaojan Chen 905118702*/

@import url("https://fonts.googleapis.com/css?family=Economica:400,700|Open+Sans");

body {
	margin-left: auto;
    margin-right: auto;
    width: 50em;
    font-family: "Economica", sans-serif;
    
}
#main_container{
    margin-top:150px;
    margin-bottom:auto;
}
h1{
    text-align:	center;
    font-size: 300%;
    font-family: "Economica", sans-serif;
}

#profile_creation_container{
    font-size: 350%;
    margin: auto;
    text-align:center;
    height: 490px;
    width: 850px;

    overflow-y: scroll;

    border-bottom:2px solid;
    border-color: gray;
}

.creation_textarea{
    width: 700px;
    height: 40px;
    line-height:40px;
    font-size: 23px;
    box-shadow: 3px 3px 3px #888888; 
    
}

.creation_textarea:hover{
    background-color: lightgray;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

input::-webkit-input-placeholder{
    font-size: 23px;
    margin:center;
    line-height:40px;
}

#creation_summit_btn_container{
    font-size: 350%;
    margin: auto;
    text-align:center;
    margin-bottom: 50px;
}


#creation_summit_btn {
    width:250px;
    height:45px;
    font-size:25px;
    font-family: 'Open Sans', sans-serif;
}

#err_container{
    margin:auto;
    height:20px;
    text-align:center;
    font-weight:  bold;
    font-size:22px;
}
.error-message-container {
    margin:auto;
    padding: 8px 10px;
    border: 1px solid #B6232A;
    background-color: #EFC6C3;
    color: #B6232A;
    text-align: center;
    display: none;
}

.error, .error:focus {
    border: 1px solid #B6232A;
    background-color: #EFC6C3;
}