@import url("https://fonts.googleapis.com/css?family=Economica:400,700|Open+Sans");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

    font-family: "Economica", sans-serif;
    font-size: 20px;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* align-items: center; */
}

.title {
    text-align: center;
    margin: 2% 0;
}

.form-row {
    margin-bottom: 3%;
    display: flex;
    /* width: 300px; */
}

.form-container {
    width: 40%;
}


/* .form-label-container {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.form-element-container {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
} */

label {
    /* text-align: right; */
    /* margin: 0 8px 15.6px 5px; */
    margin-right: 10px;
    width: 35%;
    text-align: right;
}

.input-field {
    /* border-radius: 50px; */
    /* margin: 0 8px 9px 5px; */
    padding: 6px 15px 5px 5px;
    border: 1px solid darkgray;
    box-shadow: 0px 1px 3px 1px #0000003f;
    transition: background-color 0.3s;

    width: 60%;
}

.searchbar {
    margin-top: 1%;
    margin-bottom: 3%;
    width: 40%;
}

.input-field:hover {
    background-color: lightgray;
    transition: background-color 0.3s;
}

.input-field:focus {
    border: 1px solid rgb(39, 95, 199);  
    background: rgba(39, 95, 199, 0.144);
    outline: none;
}

/* .radio-options {
    margin-top: 4px;
} */

.form-buttons-container {
    display: flex;
    align-self: center; /*Align container in center of parent container */
    justify-content: space-between;

    width: 180px;
    margin-top: 0.5%;
    margin-bottom: 3%;
}

.button {
    padding: 7px 10px 6px 10px;
    box-shadow: 0px 1px 3px 1px #0000003f;
    /* border-radius: 25px; */
}

.cancel-button {
    border: 1px solid rgb(39, 95, 199);
    background-color: transparent;
    color: rgb(39, 95, 199);
    transition: background-color 0.3s;
}

.cancel-button:hover {
    background-color: cornflowerblue;
    color: white;
    transition: background-color 0.3s;
}

.search-button {
    background-color: limegreen;
    border: 1px solid #1b881b;
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

.search-button:hover {
    background-color: #27a727;
    border-color: #1b881b;
    transition: background-color 0.3s, border-color 0.3s;
}