
@import url("https://fonts.googleapis.com/css?family=Economica:400,700|Open+Sans");

.header{
    display: flex;
    margin:auto;
    background-color:white;
    border: 1px solid #cccccc;
    border-right:hidden;
    border-left: hidden;
    border-top:hidden; 
    width:800px;
}
.custom_header{
    display: flex;
    
}
.avatar{
    display: block;
}
.title{
    display: block;
    font-size: 36px;
    padding: 40px;
    font-family: Economica, serif;
}

body {
    margin-top: 50px;
	margin-left: auto;
    margin-right: auto;
    width: 50em;
    font-family: "Economica", sans-serif;
    
}
#main_container{
    margin-top:10px;
    margin-bottom:auto;
}

#profile_container{
    font-size: 350%;
    margin-left:50px;
    text-align:left;
    height: 490px;
    width: 760px;

    overflow-y: scroll;

    border-bottom:2px solid;
    border-color: gray;
}

span{
    font-size: 23px;
    text-align: left;
    width: 140px;
    display:inline-block;
    
}

.profile_textarea{
    width: 600px;
    height: 40px;
    line-height:40px;
    font-size: 23px;
    box-shadow: 3px 3px 3px #888888; 
    
}
.profile_select{
    width: 605px;
    height: 40px;
    line-height:40px;
    font-size: 23px;
    box-shadow: 3px 3px 3px #888888;  

}

.profile_textarea:hover{
    background-color: lightgray;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

input::-webkit-input-placeholder{
    font-size: 23px;
    margin:center;
    line-height:40px;
}

#profile_summit_btn_container{
    font-size: 350%;
    margin: auto;
    text-align:center;
    margin-bottom: 50px;
}


#profile_summit_btn {
    width:250px;
    height:45px;
    font-size:25px;
    font-family: 'Open Sans', sans-serif;
}

#err_container{
    margin:auto;
    height:20px;
    text-align:center;
    font-weight:  bold;
    font-size:22px;
}
.error-message-container {
    margin:auto;
    padding: 8px 10px;
    border: 1px solid #B6232A;
    background-color: #EFC6C3;
    color: #B6232A;
    text-align: center;
    display: none;
}

.error, .error:focus {
    border: 1px solid #B6232A;
    background-color: #EFC6C3;
}

.back_button{
    position: absolute;
    margin-top: 40px;
    margin-left:600px;
    background: rgba(255,255,255,0.6);
    width: 100px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    font-size:25px;
    cursor:  pointer;
    font-family: "Economica", sans-serif;
}
