@import url("https://fonts.googleapis.com/css?family=Economica:400,700|Open+Sans");


#scholarship-modal {
	top: 15vh;
	z-index: 10;

	border: none;

	width: 65vw;
	height: 70vh;

	padding: 0px;
}

#scholarship-modal::backdrop {
	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: rgba(0, 0, 0, 0.5);
}

#scholarship-iframe {
	width: 100%;
	height: 100%;

	border: none;
}