@import url("https://fonts.googleapis.com/css?family=Economica:400,700|Open+Sans");


#scholarship-modal {
	min-width: 100%;
	min-height: 100%;
	display: none;
	z-index: 10;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;

	justify-content: center;
	align-items: center;
}

#scholarship-iframe {
	position: absolute;

	min-width: 65%;
	min-height: 70%;
	border: none;
}