body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto Slab', serif;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin:auto;
  font-size: 16px;
}

td {
  padding: 10px;
}

.adv-title {
  font-size: 24px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

img {
  vertical-align: middle;
}

.land-button {
    border: none;
    color: black;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
}

.pal-button {
    background-color: white;
    border: none;
    color: #666666;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.grn-button {
    background-color: #15CA38;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#inc-terms {
  float: left;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  margin: auto;
  display: block;
}

#exc-terms {
  float: left;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  margin: auto;
  display: block;
}