body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto Slab', serif;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin:auto;
}

tr {
  border-style: none none none none;
}

td {
  padding: 10px;
}

.top-left {
  font-size: 24px;
  float: left;
  padding: 20px 20px 20px 0px;
  display: inline-block;
  vertical-align: middle;
}

.top-right {
  font-size: 24px;
  float: right;
  padding: 20px 0px 20px 20px;
}

.sch-title {
  font-size: 14px;
}

.main-table {
  border: 1px solid #cccccc;
  width: 60%;
}

.main-tr {	
  border: 1px solid #cccccc;
  border-style: solid solid solid solid;
}

img {
  vertical-align: middle;
}

.land-button {
    border: none;
    color: black;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
}

.grn-button {
    background-color: #15CA38;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#search-box {
  width: 80%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ddd;
  margin: auto;
  display: block;
}