@import url("https://fonts.googleapis.com/css?family=Economica:400,700|Open+Sans");

* {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;


	font-family: 'Economica', sans-serif;
}

button {
	height: 100px;
	width: 200px;
}

#scholarship-modal {
	display: none;
	z-index: 10;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;

	justify-content: center;
	align-items: center;
}

#scholarship-iframe {
	width: 65%;
	height: 70%;

	border: none;
}

#scholarship-content {
	min-width: 100%;
	min-height: 100%;

	background: #fefefe;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

.buttons {
	width: 20%;
}

.buttons:hover {
	cursor: pointer;
	filter: brightness(85%);
}

#scholarship-picture-container {
	grid-column: 8/span 5;
	grid-row: 1/span 4;

	display: flex;
	justify-content: center;
	align-items: center;
}

#scholarship-name-container {
	grid-column: 1/span 7;
	grid-row: 1/span 4;

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
}

#scholarship-summary-container {
	grid-column: 1/span 12;
	grid-row: 5/span 4;

	font-family: "Open Sans", sans-serif;
}

#scholarship-tags-container {
	grid-column: 1/span 8;
	grid-row: 9/span 2;

	display: flex;
	flex-flow: row;
}

#scholarship-percent-container {
	grid-column: 9/ span 4;
	grid-row: 9/span 2;

	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#scholarship-buttons-container {
	grid-column: 1/span 12;
	grid-row: 11/span 2;

	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
}

#scholarship-picture {
	height: fit-content;
	width: fit-content;

	background: white;

	display: flex;
	justify-content: center;
	align-items: center;
}

#scholarship-name-container .overlay-content {
	min-width: 80%;
	min-height: fit-content;
	height: fit-content;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;

	margin: 10px;
	margin-left: 20px;
	line-height: 32pt;

	font-family: "Open Sans", sans-serif;
}

#scholarship-name-container h1.overlay-content {
	font-size: 28pt;
}

#amount {
	font-size: 24pt;
	font-style: italic;
	color: #62CB3B;
}

#scholarship-summary-container .overlay-content {
	width: fit-content;
	height: fit-content;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	margin: 2pt 20px 2pt 20px;
}

#scholarship-summary-container span.overlay-content {
	width: fit-content;
	height: fit-content;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	margin: 2pt 20px 2pt 0px;
}

#scholarship-summary-container h3.overlay-content {
	width: fit-content;
	height: fit-content;

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	margin: 0pt 20px 10pt 20px;
}

.tag {
	background: transparent;
	height: 20px;
	width: fit-content;

	display: flex;

	padding: 10px;
}

.tag-head {
	width: 0px;
	height: 0px;

	border: solid 10px transparent;
	border-right: solid 10px gold;
}

.tag-body {
	height: 18px;
	width: fit-content;

	display: flex;
	justify-content: center;
	align-items: center;

	background: gold;

	padding: 1px 3px 1px 3px;
}

#scholarship-percent-container .overlay-content {
	width: fit-content;
	height: fit-content;

	font-size: 60pt;
	font-weight: bold;
	color: orange;
}